body{
    width:100%;
    padding: 0;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: #BBE8F2;
}

/*row*/
.primeira-linha{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introducao-jogo{
    margin-top: 40px;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar{
    background-color: #3D9DD9 !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand{
    color: white !important;
    font-size: 30px;
    font-weight: 700;
}

.navbar>.container-fluid{
    justify-content: space-between;
}

.link-voltar-pgInicial{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease-in-out;
}

.link-voltar-pgInicial:hover{
    color: #BBE8F2;
}

figcaption a {
    color: #2685BF;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease-in-out;
}

.começar-jogo{
    display: inline-block;
    margin-top: 20px;
    border-bottom: 3px solid #2685BF;
    padding-bottom: 5px;
}

img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    display: none;
}

button{
    display: none;
}

audio{
    display: none;
    margin: auto;
}

.titulo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

input[type="button" i] {
    display: inline-block;
    background-color: #1E47A6;
    border: 2px solid #012475;
    width: 100%;
    color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    transition: .5s ease-in-out;
}

input[type="button" i]:hover{
    background-color: #021d5c;
}

h1{
    font-weight: 600;
    font-size: 30px;
}

h2{
    font-weight: bold;
    font-size: 35px;
    color: #6B2EA7;
}

p{
    font-size: 18px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#ouvirPalavra{
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.conteudoInterativo{
    margin-top: 30px;
}

.audioGravacao{
    padding: 0 30px;
}

#gravar_audio{
    padding-right: 70px;
}

.audioGravacao button{
    background-color: #1E47A6;
    border: 2px solid #012475;
    width: 20%;
    color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    transition: .5s ease-in-out;
    margin-right: 10px;
}

.audioGravacao button:hover{
    background-color: #021d5c;
}

.escolherImagens{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.completarFraseBox{
    margin-bottom: 50px;
}

#inputCompletarFrase, #verificarFrase {
    display: none;
}

#verificarFrase{
    font-size: 18px;
    width: 50%;
    height: 50px;
    line-height: 10px;
}

#inputCompletarFrase{
    border: 2px solid #1E47A6;
    border-radius: 30px;
    background-color: #a3d0ec;
    height: 50px;
    padding: 3%;
}

.input-btn-completarFrase{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.escolherImagensBoxFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#resFrase{
    display:inline-block ;
    margin-top: 8px;
    color: #6B2EA7;
    font-weight: bold;
}

@media (max-width: 1025px){
.col-md-6 {
    flex: 0 0 auto;
    width: 90%;
}

.escolherImagens{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 40px;
    margin-top: 40px;
}
}

@media screen and (max-width: 760px) {
    .navbar-brand {
        color: white !important;
        font-size: 20px;
        font-weight: 700;
    }

    .link-voltar-pgInicial {
        font-size: 16px !important;
    }

    .col-md-6{
        width: 100%;
    }

    .audioGravacao {
        padding: 0;
    }

    .audioGravacao {
        margin-right: 0;
    }
    
    #gravar_audio{
        padding: 0;
        width: 100%;
    }

    .audioGravacao button{
        width: 100%;
    }

    input[type="button" i] {
        background-color: #1E47A6;
        border: 2px solid #012475;
        width: 70%;
        color: white;
        padding: 20px;
        margin: 20px auto;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
        font-size: 25px;
        text-transform: uppercase;
        transition: .5s ease-in-out;
    }

    .escolherImagens {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        margin-top: 40px;
    }

}